# Build directory
cmake-*/
build-*/

# Compiler output
*.s

# Object files
*.obj
*.o
*.so
*.dll
*.lib

# Executables and symbols
haiyajan
*.exe
*.sym

# Debugging
*.gcda
callgrind.out*
.gdb*

# Media files created by Haiyajan
*.webp
*.bmp
*.h264
*.wv

# Hidden folders
.*/*

# IDE files
*.kdev*
*.json

# Game controller script
tools/gamecontrollerdb_*.txt
tools/gcdb_*.h
tools/gcdb_bin

## Vim
*~
# Swap
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-rt-v][a-z]
[._]ss[a-gi-z]
[._]sw[a-p]

# Session
Session.vim
Sessionx.vim

# Temporary
.netrwhist
*~
[._]*.un~

# Tags
tags

