#define Q(x) #x
#define QUOTE(x) Q(x)

#define VS_VERSION_INFO                 1
#define IDI_ICON1                       101

#ifndef ICON_FILE
#define ICON_FILE icon.ico
#endif

#ifndef SRC_FILE
#define SRC_FILE src.tar.xz
#endif

IDI_ICON1	ICON	QUOTE(ICON_FILE)
IDR_BINARY	BINARY	QUOTE(SRC_FILE)

VS_VERSION_INFO VERSIONINFO
FILEVERSION VER_MAJOR,VER_MINOR,VER_PATCH,VER_TWEAK
FILEFLAGSMASK 0x3fL
FILEFLAGS 0x0L
FILEOS 0x40004L
FILETYPE 0x1L
FILESUBTYPE 0x0L
BEGIN
BLOCK "StringFileInfo"
	BEGIN
	BLOCK "040004b0"
		BEGIN
		VALUE "CompanyName", QUOTE(COMPANY)
		VALUE "FileDescription", QUOTE(DESCRIPTION)
		VALUE "FileVersion", QUOTE(VER_MAJOR) "," QUOTE(VER_MINOR) "," QUOTE(VER_PATCH) "," QUOTE(VER_TWEAK)
		VALUE "LegalCopyright", QUOTE(LICENSE)
		VALUE "ProductName", QUOTE(NAME)
		VALUE "ProductVersion", QUOTE(FULL_VERSION)
	END
END
BLOCK "VarFileInfo"
	BEGIN
	VALUE "Translation", 0x400, 1200
	END
END
