#platlst th:nth-child(1) img {
	height: 3em;
	max-width: 3em;
}
footer {
	font-size: 0.6em;
	margin-top: 2em;
}
header .logo {
	float: right;
	height: 6em;
}
footer .logo {
	float: left;
	padding: 0.6em;
}
